$white: #fafafa;
$black: #000000;
$athensGray: #eef1f4;
$athensGray2: #e9ecef;
$iron: #d1d7dc;
$bondiBlue: #02aeb0;
$teal: #008486;
$slateGray: #6a7c92;
$riverBed: #454f5b;
$wildSand: #f6f6f6;
$casper: #a2b6c8;
$malibu: #80bdff;
$alabaster: #fcfcfc;
$bunting: #11223f;

%Jost-400 {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

%Jost-500 {
  font-family: 'Jost', sans-serif;
  font-weight: 500;
}

%Jost-600 {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
}
